




    <!-- RECORDING SESSION INFO -->
   <h1>search results page</h1>
    <p><% Artist.all.search(params[:q]).each do |j| %></p>
    <p><%= link_to "#{j.name.capitalize} show page", artist_path(j.id) %></p>
    <p><% end %></p>