
<h2>Edit Session</h2>
<!-- render Errors MESSAGING -->
<%= render 'errors', form: @engineer %>


    <!-- EDIT FORM -->
<%= render 'edit_form', form: @engineer %>
   
        <!-- END OF EDIT FORM -->