<section class="main">
    <% if RecordingSession.all.blank? %>
    <h2>There are currently no recording sessions scheduled.</h2>

    <!-- <%elsif @recording_sessions == nil %> -->
    <!-- render /recording_sessions index form -->
    <!-- <%= render 'index_form', form: @recording_session %> -->
    <!-- <p>"NOT NESTED"</p> -->
    <% else %>
    <!-- render nested index form i.e   -->
    <%= render 'index_nested', form: @recording_session %>
<BR>

<%= link_to "LINK to ALL SESSIONS via (index_partial) ", recording_sessions_path(@recording_session), :class => 'btn btn-default' %>
<p> <% end %> </p>
       <!-- END OF INDEX FORM -->
    <!-- USED in views/RecordingSessions/index -->
    <!-- EDIT FORM -->
    <!-- DISPLAY recording_session.ALL -->