<!-- NEW FORM -->

<section class="main">

    <% if params[:artist_id] != nil %>
    <%= render 'nested', form: @recording_session %>
    <% else %>
        <%= render 'new_default', form: @recording_session %>
    <BR>

    <p> <% end %> </p>
<% render 'errors', form: (@recording_session) %>