
<h2>Edit Session</h2>
<!-- render Errors MESSAGING -->
<%= render 'errors', form: @studio %>


    <!-- EDIT FORM -->
<%= render 'edit_form', form: @studio %>
   
<br>
<br>
<br>
                 <p> <%= link_to 'Create New Studio', new_studio_path %> |
                        <%= link_to 'Create New Session', new_recording_session_path %> 
   

        <!-- END OF EDIT FORM -->