<!-- USED in views/RecordingSessions/index -->

<!-- EDIT FORM -->
<!-- DISPLAY recording_session.ALL -->
<section class="main">

  

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Engineer</th>
                    <th>Artist</th>
                    <th>Studio</th>
                    <th>Location</th>
                    <th>Recording Session Date</th>
                    <th>Complete</th>
                    <th>Cancel</th>
                    <th colspan="3"></th>
                </tr>
            </thead>

            <% @studios.each do |c| %>
            <div class="well">
                <tbody>
                    <tr>
                        <td><%= link_to c.id, studio_path(c)%></td>
                        <td><%= link_to c.name.capitalize, studio_path(c) %></a></td>
                        <td><%= link_to c.location.capitalize, studio_path(c)%></td>
                        </td>

                    </tr>

                    <% end %>
                </tbody>
        </table>
